.App {
  text-align: center;
}

.base {
  width: 600px;
  margin: 0px auto;
  margin-top: 10%;
}

.container {
  display: inline-flex;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.elements {
  padding: 10px;
}

.elements-inner {
  position: absolute;
  margin-top: -2%;
}

.elements-inner button {
  margin-right: 5px;
}

.box {
  margin: 2px;
  border: 1px solid gray;
  width: 30px;
  height: 30px;
}

.state-handler {
  border: 1px solid black;
  width: 600px;
  margin: 0px auto;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.state-handler-inner {
  margin: 20px;
}

.state-handler input {
  margin: 10px;
  padding: 10px;
}

button {
  border: 1px solid grey;
  background-color: #e5e5e5;
  padding: 10px;
  border-radius: 5px;
}